* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: black;
  padding: 10px 20px;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  border-radius: 10px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 1;
  justify-content: flex-end;
}

.nav-list li {
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.nav-list li a:hover {
  color: #fffae6;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 95px;
    right: 0;
    width: 100%;
    background-color: black;
    border-top: 1px solid black;
    display: none;
  }

  .nav-list.v-class-resp {
    display: flex;
  }

  .navbar.h-nav-resp {
    height: auto;
    flex-direction: column;
  }

  /* Increase font size when the navbar is toggled */
  .nav-list.v-class-resp li a {
    font-size: 3vw;
    transition: font-size 0.3s ease;
  }
}
